* {
  --code-one-blue: yellow;
}

body {
  margin: 0px;
}
@media screen and (max-width: 40em) {
  main {
    height: 100vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "article"
      "footer"
      "nav";
  }
}
@media screen and (min-width: 40em) {
  main {
    height: 100vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav article"
      "footer article";
  }
}
header {
  grid-area: header;
  background: lightblue;
}

footer {
  grid-area: footer;
  background: var(--code-one-blue, red);
}

article {
  grid-area: article;
  background: lightgoldenrodyellow;
}

nav {
  grid-area: nav;
  background: lightseagreen;
}
